In [11]:
import pandas as pd

In [12]:
# Read the data into a Pandas DataFrame
crowdfunding = pd.ExcelFile("crowdfunding.xlsx")
# Get the sheet names
crowdfunding.sheet_names

['crowdfunding_info', 'contact_info']

In [17]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()
crowdfunding_info_df.sample(n=10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
599,1131,Smith-Ramos,Persevering optimizing Graphical User Interface,140300,5112,failed,82,DK,DKK,1600578000,1624770000,False,False,film & video/documentary
726,3081,Johns-Thomas,Realigned web-enabled functionalities,54300,48227,canceled,524,US,USD,1606284000,1617771600,False,True,theater/plays
318,341,"Young, Hart and Ryan",Decentralized demand-driven open system,5700,903,failed,17,US,USD,1627534800,1632546000,False,False,music/rock
330,2726,Thompson-Bates,Expanded encompassing open architecture,33700,62330,successful,1385,GB,GBP,1609826400,1618722000,False,False,film & video/documentary
497,2310,Lucero Group,Intuitive actuating benchmark,9800,3349,failed,120,US,USD,1594702800,1616734800,False,True,technology/wearables
893,2029,Collins-Martinez,Progressive grid-enabled website,8400,10770,successful,199,IT,EUR,1601787600,1626757200,False,True,film & video/documentary
142,1410,Figueroa Ltd,Expanded solution-oriented benchmark,5000,11502,successful,117,US,USD,1622005200,1637733600,False,False,technology/web
106,1061,"Brandt, Carter and Wood",Ameliorated clear-thinking circuit,3900,14006,successful,147,US,USD,1614924000,1621400400,False,False,theater/plays
387,2808,Flores-Lambert,Triple-buffered logistical frame,109000,42795,failed,424,US,USD,1626584400,1633410000,False,False,technology/wearables
119,283,Clark and Sons,Reverse-engineered full-range Internet solution,5000,10748,successful,154,US,USD,1627362000,1635742800,False,True,film & video/documentary

In [16]:
# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding, sheet_name='contact_info', header=3)
contact_info_df.head()
contact_info_df.sample(n=10)

                                                                                         contact_info
211               {"contact_id": 2604, "name": "Adina Pollard", "email": "adina.pollard@outlook.com"}
547   {"contact_id": 4874, "name": "Jacques Heidrich", "email": "jacques.heidrich@zamudio-chapa.com"}
793                  {"contact_id": 4690, "name": "Elisa Barkholz", "email": "elisa.barkholz@sfr.fr"}
571      {"contact_id": 3863, "name": "Romana Blanchard", "email": "romana.blanchard@googlemail.com"}
720   {"contact_id": 6191, "name": "Slobodan Camiscione", "email": "slobodan.camiscione@hotmail.com"}
689                   {"contact_id": 5156, "name": "Karla Medici", "email": "karla.medici@yahoo.com"}
361          {"contact_id": 2396, "name": "Francisco Dorsey", "email": "francisco.dorsey@tiscali.fr"}
616  {"contact_id": 3879, "name": "Rufino Gallegos", "email": "rufino.gallegos@webster-newton.co.uk"}
354         {"contact_id": 2690, "name": "Nayeli Gehringer", "email": "nayeli.gehringer@hotmail.com"}
241                {"contact_id": 1669, "name": "Leonid Scholl", "email": "leonid.scholl@collin.com"}

In [18]:
# get a brief summary of the croowdfunding_info DataFrame
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [19]:
# Get a brief summary of the contact_info DataFrame. 
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [22]:
# Get the unique values in the category & sub-category column. 
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [25]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category", "subcategory"]]=crowdfunding_info_df["category & sub-category"].str.split("/", n=1,
                                                                                                            expand=True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [26]:
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [34]:
# Get the unique categories and subcategories in separate lists.
categories=crowdfunding_info_df["category"].unique()
subcategories=crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [42]:
# import numpy dependencies
import numpy as np
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids=np.arange(1,10)
subcategory_ids=np.arange(1,25)
print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [43]:
# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [47]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.
category_df=pd.DataFrame({"category_id":cat_ids, "category":categories})
subcategory_df=pd.DataFrame({"subcategory_id":scat_ids, "subcategory":subcategories})

In [48]:
category_df.head(10)

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video
5       cat06    publishing
6       cat07         games
7       cat08   photography
8       cat09    journalism

In [49]:
subcategory_df.head(10)

  subcategory_id     subcategory
0         scat01     food trucks
1         scat02            rock
2         scat03             web
3         scat04           plays
4         scat05     documentary
5         scat06  electric music
6         scat07           drama
7         scat08      indie rock
8         scat09       wearables
9        scat010      nonfiction

In [52]:
# Create the output file (CSV)
output_data_file='category.csv'
# Export the file
category_df.to_csv(output_data_file,index=False)

In [53]:
# Create the output file (CSV)
output_data_file='subcategory.csv'
# Export the file
subcategory_df.to_csv(output_data_file,index=False)